<!DOCTYPE html>
<html>
  <head>
    <title>QiitaList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/029941fddb.js" crossorigin="anonymous"></script>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet"/>
  </head>

  <body class="mh-100" style="background-color: #F7F7F7;">
    <header class="py-3 bg-success">
      <h3 class="text-center text-white mb-0">QIITALIST</h3>
    </header>

    <%= yield %>

    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>
  </body>
</html>
